/*----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----
MOBILE-FIRST--------MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----
MOBILE-FIRST--------MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----
MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----*/
h1{
	text-align: center; /*											centrer Anthony FAVIER*/
	text-shadow: 4px 4px 4px grey;/*--------------------------------ombre du texte*/
	font-family: sans-serif;/*										police du texte h1*/
	font-size: 2.5em;/*---------------------------------------------taille écriture*/
}
#photo{
	height: 250px;/*												hauteur de la photo à 250px*/
	width: 250px;/*-------------------------------------------------largeur de la photo à 250px*/
	border-radius: 50%;/*											image ronde*/
	box-shadow: 4px 4px 10px black;/*-------------------------------ombrage de la photo*/
	margin-left: 10px;/*											marge gauche*/
	margin-bottom: 10px;/*------------------------------------------marge bas*/
}
#gps, #email, #tel{
	display: flex;/*												aligner les images avec texte dans chaque id*/
	justify-content: center;/*--------------------------------------centre les éléments sur l'axe des x*/
	align-items: center;/*											centre le texte avec les icons*/
	margin: 15px; /*------------------------------------------------petite marge pour écarter de la photo*/
}
header{
	background-image: url(http://wallpapercave.com/wp/XU3XnUe.jpg);/*insertion d'une image en fond du header*/
	border-radius: 20px;/*											arrondir les angles du header */
	border: 2px solid black;/*--------------------------------------bordure du cadre*/
}
#header{
	display: flex;/*------------------------------------------------positionnement des éléments du header*/
	align-items: center;/*											centrer le texte par rapport a la photo*/
}

#gps img, #email img, #tel img{ /*----------------------------------redimensionnement des icons*/
	height: 25px;/*													hauteur*/
	width: 25px;/*--------------------------------------------------largeur*/
}
header p{
	text-shadow: 1px 1px 2px white;/*								ombre du texte*/
	margin-left: 5px;/*---------------------------------------------espace le texte des icons de 5px*/
	font-family: sans-serif;/*										police d'écriture*/
	font-size: 1.3em;/*---------------------------------------------taille du texte du header*/
}
#lang img{
	width: 50px;/*--------------------------------------------------largeur image 50% de la taille réel*/
	border-radius: 50%;/*											découpage en ovale, car image rectangulaire*/
	border: 2px solid black;/*--------------------------------------bordure*/
	box-shadow: 2px 2px 4px grey;/*									ombrage*/
}
#lang{
	/*position: fixed;*/
	display: flex;/*												permet de changer la position des éléments*/
	justify-content: center;/*--------------------------------------centrer axe des X*/
	align-items: center;/*											centrer axe des Y*/
	padding-left: 20px;
	margin-top: -19px;/*--------------------------------------------remonte les img pour centrer avec la bordure*/
	/*margin-top: 336px;*/
}
#header1{
	z-index: 1;/*---------------------------------------------------position en 1er plan*/
	position: fixed;/*												fixé le header pour qu'il reste toujours a l'écran*/
	top: 0;/*-------------------------------------------------------coller le header en haut*/
	right: 0;/*														coller le header a droite*/
	left: 0;/*------------------------------------------------------coller le header a gauche*/
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----BODY----*/
body{
	background-color: #ebebeb;/*									couleur de fond*/
	margin: 0;/*----------------------------------------------------marge ext 0*/
}
content{
	position: absolute;/*-------------------------------------------position du block*/
	width: 100%;/*													largeur max du block*/
	top: 350px;/*---------------------------------------------------position du blok Content par rapport au Header*/
	/*background-image: url(https://images4.alphacoders.com/266/thumb-1920-266678.jpg);*/
	background-image: url(http://pnge.org/wp-content/uploads/2016/11/1480401933_86_abstract-wallpaper.jpg);
	z-index: -2;/*--------------------------------------------------position en arrière plan*/
}
content h1{
	margin-top: 60px;
}
#opacity{
	height: 100%;/*-------------------------------------------------hauteur pleine page*/
	width: 100%;/*													largeur pleine page*/
	position: absolute;/*-------------------------------------------position haut-gauche de base*/
	background-color: rgba(255,255,255,0.5);/*						filtre blanc avec opacité de 50%*/
	z-index: -1/*---------------------------------------------------position devant le fond, mais derrière les éléments*/
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----Moi----*/
#moi1, #moi2{
	display: flex;/*------------------------------------------------comportement*/
	justify-content: center;/*										centrer axe des X*/
}
#moi h1{
	text-align: center;/*											centrer le titre en X*/
	margin-top: 50px;/*---------------------------------------------marge du haut*/
}
#moi p{
	display: flex;/*------------------------------------------------comportement*/
	font-size: 1.4em;/*												taille du texte*/
}
.m1, .m2, .m3{
	border:2px solid black;/*---------------------------------------créer une bordure*/
	box-shadow: 2px 2px 4px black;/*								ombrage des bordures*/
	border-radius: 50%;/*-------------------------------------------création en ovale car box en rectangle*/
	padding: 20px;/*												augmentation de la taille de box du texte*/
	margin-right: 10px;/*-------------------------------------------espacer les box*/
	margin-left: 10px;/*											espacer les box et centrer en augmentant la droite et la gauche*/
	margin-top: -10px;/*--------------------------------------------diminution de la marge haute*/
}
.m1{
	background-color: #7bb7eb;
}
.m2{
	background-color: #cd9ced;
}
.m3{
	background-color: #8bed92;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----Compétences----*/
#compétences li{
	font-size: 1.2em;/*---------------------------------------------taille de texte*/
	text-shadow: 2px 2px 2px white;/*								ombre du texte*/
}
#compétences ul{
	margin-top: -25px;/*--------------------------------------------reduit la marge entre le titre et les barres de compétences*/
}
.comp{
	display: flex;/*------------------------------------------------positionnement des éléments*/
	align-items: center;/*											aligne le texte avec la barre*/
	justify-content: center;/*--------------------------------------centre tous le block d'éléments*/
}
#esp1{
	width: 19px;/*--------------------------------------------------div vide pour aligner les barres*/
}
#esp2{
	width: 51px;/*--------------------------------------------------div vide pour aligner les barres*/
}
#esp3{
	width: 58px;/*--------------------------------------------------div vide pour aligner les barres*/
}
#esp4{
	width: 5px;/*---------------------------------------------------div vide pour aligner les barres*/
}
.barre_terminal, .barre_Html, .barre_CSS, .barre_JS, 
#barre_PhP, #barre_MySQL, #barre_Wordpress, #barre_Bootstrap {/*	barre de fond = 100%--*/
	width: 300px;/*-------------------------------------------------largeur*/
	height: 10px;/*													hauteur*/
	background-color: #282829;/*------------------------------------couleur de fond*/
	padding: 4px;/*													ajoute une marge intérieur*/
	border-radius: 16px;/*------------------------------------------angles arrondis*/
	box-shadow: inset 0 1px 2px grey, inset 0 -1px 0 grey;/*		ombre*/
	margin-left: 15px;
}
.barre_terminal:before, .barre_Html:before, .barre_CSS:before, 
.barre_JS:before{/*-------------------------------------------------barre de progression (couleur clair)*/
	content: '';
	display: block;/*-----------------------------------------------créer un block avec saut de ligne avant et après*/
	position: absolute;/*											position par rapport au parent*/
	width: 200px;/*-------------------------------------------------largeur*/
	height: 10px;/*													hauteur*/
	border-radius: 12px;/*------------------------------------------angle arrondis*/
	box-shadow: inset 0 1px 0 grey, unset 0 -1px 3px grey;/*		ombres*/
}
.barre_terminal:after, .barre_Html:after, .barre_CSS:after, 
.barre_JS:after{/*--------------------------------------------------hachures des barres*/
	content: '||||||||||||||||||||||||';/*							pour faire les hachures*/
	display: block;/*-----------------------------------------------comportement*/
	width: 200px;/*													largeur*/
	height: 10px;/*-------------------------------------------------hauteur*/
	overflow: hidden;/*												cache tout ce qui sort du conteneur*/
	border-radius: 12px;/*------------------------------------------coin arrondis*/
	transform: skewX(-30deg);/*										inclinaison du texte*/
	font: bold 120px/80px sans-serif;/*-----------------------------épaisseur des hachures*/
	letter-spacing: 2px;/*											espacement des lettres*/
	opacity: 0.6;/*-------------------------------------------------opacité*/
}
.barre_terminal:before{	
	width: 150px;/*-------------------------------------------------représente mon niveau en terminal*/
	background-color: #b8b8b8;/*									couleur de fond*/
}
.barre_terminal:after{
	width: 150px;/*-------------------------------------------------doit être égal au "before"*/	
	color: #828282;/*												couleur des hachures*/
}
.barre_Html:before{	
	width: 200px;
	background-color: #FFB258;
}
.barre_Html:after{
	width: 200px;	
	color: #EA7D00;
}
.barre_CSS:before{
	width: 180px;
	background-color: #b2dbff;
}
.barre_CSS:after{
	width: 180px;
	color: #0764b5;
}
.barre_JS:before{
	width: 75px;
	background-color: #fbff7f;
}
.barre_JS:after{
	width: 75px;
	color: #c29200;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--effet 3d sur les barres de compétences--*/
.grey:before{
	background : #edf7ff;
	background : -moz-linear-gradient(top, #edf7ff, #adadad);
	background : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#edf7ff), to(#adadad));
}
.orange:before{
	background :#FFB258;
	background : -moz-linear-gradient(top,#FFB258, #FF8900);
	background : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFB258), to(#FF8900));
}
.blue:before{
	background :#b2dbff;
	background : -moz-linear-gradient(top,#b2dbff, #0084f7);
	background : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b2dbff), to(#0084f7));
}
.yellow:before{
	background :#fbff7f;
	background : -moz-linear-gradient(top,#fbff7f, #ccbb00);
	background : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbff7f), to(#ccbb00));
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--PARCOURS--*/
section#timeline{
	width: 100%;/*												Taille max 100% de la page*/
	margin: 10px;/*---------------------------------------------marge extérieur 10px*/
	position: relative;/*										permet de déplacer les éléments*/
}
section#timeline:before{
	content :'';/*----------------------------------------------création de la ligne Timeline*/
	display: block;
	position: absolute;/*---------------------------------------position par rapport au parent*/
	left: 50%;/*												centrer la ligne en X*/
	top: 0;/*---------------------------------------------------colle la ligne au parent*/
	margin: 0 0 0 -1px;
	width: 2px;/*-----------------------------------------------largeur de 2px*/
	height: 100%;/*												hauteur 100%*/
	background:rgba(0, 0, 0, 1);/*------------------------------couleur de la ligne*/
}
section#timeline article{/*-------------------------------------comportement des box*/
	margin: 0 0 20px 0;/*										marge bas de 20px entre chaque article*/
	position: relative;/*										permet de bouger les éléments sans contrainte*/
}
section#timeline article:after{/*-------------------------------permet de garder l'espace 1 box sur 2*/
	content: '';/*												intérieur vide*/
	display: block;/*-------------------------------------------effet block*/
	clear: both;/*												pour être sur que le block se mets en dessous des autres*/
}
section#timeline article div.inner{/*---------------------------largeur des cases*/
	width: 250px;												
}
section#timeline article div.inner span.date{/*-----------------élément date*/
	display: block;
	width: 60px;/*----------------------------------------------largeur*/
	height: 50px;/*												hauteur*/
	padding: 5px 0;/*-------------------------------------------marge inté 5px(haut/bas) 0(doite/gauche)*/
	position: absolute;/*										position par rapport au parent*/
	top: 0;/*---------------------------------------------------marge ext haut à 0*/
	left: 50%;/*												marge ext gauche 50%*/
	margin: 0 0 0 -32px;/*--------------------------------------marge ext H D B G*/
	border-radius: 100%;/*										forme ronde (ou 50%)*/
	font-size: 12px;/*------------------------------------------taille police écriture*/
	font-weight: 900;/*											épaisseur du texte*/
	text-transform: uppercase;/*--------------------------------texte en majuscule*/
	background: #999999;/*										couleur de fond*/
	color: rgba(255, 255, 255, 1);/*----------------------------couleur du texte*/
	border: 2px solid rgba(255, 255, 255, 0.2);/*				bordure (taille / couleur)*/
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);/*-------------------ombre cercle*/
	text-shadow: 1px 1px 2px black;/*							ombre texte*/
}
section#timeline article div.inner span.date span{
	display: block;
	text-align: center;/*---------------------------------------centrer le texte*/
}
section#timeline article div.inner span.date span.année{
	font-size: 18px;/*------------------------------------------taille du texte*/
}
section#timeline article div.inner span.date span.année_fin{
	font-size: 18px;/*------------------------------------------taille du texte*/
}
section#timeline article div.inner h4{
	padding: 15px;/*--------------------------------------------marges int à 15px*/
	margin: 0;/*												marges ext à 0*/
	color: #FFF;/*----------------------------------------------couleur du texte */
	font-size: 20px;/*											taille du texte*/
	text-transform: uppercase;/*--------------------------------écriture en MAJ*/
	letter-spacing: -1px;/*										espace entre les lettres*/
	border-radius: 6px 6px 0 0;/*-------------------------------congé HG / HD de 6px*/
	position: relative;/*										comportement*/
	text-shadow: 1px 1px 2px black;/*---------------------------ombre du texte*/
}
section#timeline article div.inner h4:after{/*------------------création du petit triangle (angle d'un carré à 45°*/
	content: '';/*												box vide*/
	position: absolute;/*---------------------------------------position par rapport au parent*/
	top: 20px;/*												20px du haut*/
	right: -5px;/*----------------------------------------------rentré de 5px dans la case*/
	width: 10px;/*												largeur 10px*/
	height: 10px;/*	--------------------------------------------hauteur 10px*/
	-webkit-transform: rotate(-45deg);/*						rotation de -45°*/
}
section#timeline article div.inner p{
	padding: 15px;/*--------------------------------------------marges intérieur*/
	margin: 0;/*												marges ext*/
	font-size: 14px;/*------------------------------------------taille police*/
	background: #FFF;/*											couleur de fond*/
	color: #656565;/*-------------------------------------------couleur de la police*/
	border-radius: 0 0 6px 6px;/*								congé BD / BG de 6px*/
}
section#timeline article:nth-child(2n+2) div.inner{/*flottant a droite d'un enfant sur 2*/
	float: right;
}
section#timeline article:nth-child(2n+2) div.inner h4:after{
	left: -5px;
}
section#timeline article:nth-child(1) div.inner h4{/*couleur de fond de l'enfant 1*/
	background: #7bb7eb;
}
section#timeline article:nth-child(1) div.inner h4:after{
	background: #7bb7eb;
}
section#timeline article:nth-child(2) div.inner h4{/*couleur de fond de l'enfant 2*/
	background: #cd9ced;
}
section#timeline article:nth-child(2) div.inner h4:after{
	background: #cd9ced;
}
section#timeline article:nth-child(3) div.inner h4{/*couleur de fond de l'enfant 3*/
	background: #8bed92;
}
section#timeline article:nth-child(3) div.inner h4:after{
	background: #8bed92;
}
section#timeline article:nth-child(4) div.inner h4{/*couleur de fond de l'enfant 4*/
	background: #7bb7eb;
}
section#timeline article:nth-child(4) div.inner h4:after{
	background: #7bb7eb;
}
section#timeline article:nth-child(5) div.inner h4{/*couleur de fond de l'enfant 5*/
	background: #cd9ced;
}
section#timeline article:nth-child(5) div.inner h4:after{
	background: #cd9ced;
}
section#timeline article:nth-child(6) div.inner h4{/*couleur de fond de l'enfant 6*/
	background: #8bed92;
}
section#timeline article:nth-child(6) div.inner h4:after{
	background: #8bed92;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--LOGICIELS--------HOBBIES*/

#Logiciels #logic, #hobbies{
	display: flex;
	justify-content: center;
}
.logi{
	margin-right: 10px;
	margin-left: 10px;
}





/*----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----
----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----
----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----
LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----LARGE-SCREEN----*/
@media (min-width: 750px){
h1{
	color: red;/*test pour la largeur 750px du Mobile First*/
}
}